* {
    font-family: sans-serif;
}

.jumbotron {
    background-color: #343a40;
    border-radius: 0;
    color: white;
}

.jumbotron p {
    font-size: 16px;
}

.panel-group {
    border: 1px solid #343a40;
    border-radius: 5px;
}

.panel-heading {
    background-color: #343a40;
    padding: 3px;
    font-size: 16px;
    color: white;
}

.panel-body {
    padding: 12px;
    text-align: left;
}